#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  z-index: 9999;
  padding: 12px;
  display: flex;
  justify-content: center;

  background-color: var(--footer-background);
  color: var(--footer-text);
  

}


#github-link {
  margin-left: 1rem;
  height: 20px;
  width: 20px;
  background-image: url(../images/github-symbol.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

#github-link:hover {
  opacity: 0.7;
}