@import url(meta.css);
@import url(board.css);
@import url(cell.css);
@import url(placementOptions.css);
@import url(buttons.css);
@import url(warnings.css);
@import url(footer.css);

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------------------------------- */

h1 {
  font-size: 5rem;
  padding: 2rem;
}

/* ------------------------------------------------------------------------------------- */


#boards-container {
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

#placement-options-container {
  margin-bottom: 1rem;
  flex-direction: column;
}

#results-container {
  width: 100%;
  justify-content: center;
  margin-bottom: 3rem;
}

#results {
  font-size: 4rem;
}
