:root {
  --chalkboard: #22322c;
  --chalk: rgba(232, 239, 239, 0.8);
  --warning-text:#721c24;
  --footer-background: #090b0b44;
  --footer-text: #ffffff;
  --board-width: 10;
  --board-height: 10;
}

* {
  box-sizing: border-box;
  font-family: 'Fredericka the Great', cursive;
  background-color: var(--chalkboard);
  color: var(--chalk);
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}